/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/

# Temp files
.*.sw?
.sw?
*.lc

# Generated Documentation
/html/
/man/
/latex/
/userdoc.*
/test*
!/test*.sh
*.pyc
*.swp
*.swo
/log
*-prefix
/build
/bin
